/* Mobile-first */
.formContainer {
  width: 100%;
}

.formBox {
  display: flex;
  flex-direction: column;
  width: clamp(250px, 95%, 700px);
  height: fit-content;
  padding: 15px;
  border-radius: 20px;
  background-color: var(--cardBackground);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin: 30px auto;
  place-content: start center;
  color: var(--navBackground);
  text-align: center;
  box-sizing: border-box;
}

.formH1 {
  text-align: center;
  font-size: 2.2rem;
  width: 100%;
  font-family: var(--font-heading), serif;
  text-shadow: white 2px 1px 4px;
}

.formP {
  margin-top: 0;
  color: black;
}

.formLink {
  color: blue;
}

.formH2 {
  font-size: 1.5rem;
  font-family: var(--font-heading), serif;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formLabel {
  font-size: 1.3rem;
}

.formInput {
  width: clamp(200px, 100%, 400px);
  height: 35px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #000000;
  text-align: center;
  background: beige;
  color: black;
}

.submit {
  width: 50%;
  max-width: 200px;
  border-radius: 10px;
  background-color: var(--sageGreen);
  color: white;
  margin-top: 10px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: #6f8f56;
}

.signupLink {
  margin-bottom: 40px;
  color: blue;
  font-size: 0.8rem;
}

.forgot {
  margin-top: 10px;
  color: blue;
  font-size: 0.8rem;
}

.errorMessage {
  color: red;
  min-height: 1.2em;
  margin-top: 0.5rem;
}

.notice {
  margin-top: 40px;
}

/* Desktop */
@media screen and (min-width: 640px) {
  .formBox {
    width: clamp(250px, 80%, 700px);
    padding: 20px;
    margin: 50px auto;
  }

  .formH1 {
    font-size: 3rem;
  }

  .formH2 {
    font-size: 2rem;
  }

  .formLabel {
    font-size: 1.5rem;
  }

  .submit {
    width: 30%;
  }
}
