.formContainer{
  width: 100%;
}

.formBox {
  display: flex;
  flex-direction: column;
  width: clamp(250px, 80%, 700px); 
  height: fit-content;
  padding: 20px; 
  border-radius: 20px; 
  background-color: var(--cardBackground);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin: 0 auto; 
  margin: 50px auto;
  place-content: start center;
  color: var(--navBackground);
  text-align: center;
}

.formH1 {
  text-align: center;
  font-size: 3rem;
  width: 100%;
  font-family: cursive;
  text-shadow: white 2px 1px 4px;
}

.formP {
  margin-top: 0;
  color: black;
}

.formLink {
  color: blue;
}

.formH2 {
  font-size: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formLabel {
  font-size: 1.5rem;
}

.formInput {
  width: clamp(200px, 100%, 400px);
  height: 35px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #000000;
  text-align: center;
  background: beige;
  color: black;
}

.submit {
  width: 30%;
  border-radius: 10px;
  background-color: #36A7F9;
  color: white;
  margin-top: 10px;
  height: 40px;
  font-size: 18px;
}

.signupLink {
  margin-bottom: 40px;
  color: blue;
  font-size: .8rem;
}

.forgot {
  margin-top: 10px;
  color: blue;
  font-size: .8rem;
}

.errorMessage {
  color: red;
  min-height: 1.2em; /* Reserve space equal to one line of text */
  margin-top: 0.5rem;
}

.notice {
  margin-top: 40px;
}