/* Mobile-first */
.newEntryForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  background-color: var(--cardBackground);
  width: clamp(250px, 95%, 700px);
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin: 30px auto;
  justify-content: flex-start;
  align-items: center;
  color: var(--navBackground);
  text-align: center;
  height: fit-content;
  box-sizing: border-box;
}

.newEntryForm h1 {
  text-align: center;
  font-size: 2rem;
  font-family: var(--font-heading), serif;
  text-shadow: white 2px 1px 4px;
}

.entryLabel {
  margin-top: 10px;
  font-size: 1.1rem;
}

.entryInput {
  width: clamp(200px, 90%, 650px);
  font-size: 1rem;
  background-color: beige;
  border-radius: 5px;
  text-align: center;
  color: black;
  height: 35px;
}

.entryInput::placeholder {
  color: gray;
  opacity: 1;
  font-style: italic;
}

.comments {
  resize: none;
  overflow-y: auto;
  border-radius: 5px;
  background: beige;
  width: clamp(200px, 90%, 650px);
  color: black;
  padding: 5px;
}

.comments::placeholder {
  color: gray;
  opacity: 1;
  font-style: italic;
}

.formBttnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 100%;
}

.formBttn {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1.1rem;
  background-color: var(--sageGreen);
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.formBttn:hover {
  background-color: #6f8f56;
}

.fileUpload {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.hiddenFileInput {
  display: none;
}

.customButton {
  background-color: var(--bluetext);
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

.fileName {
  margin-left: 10px;
  color: #555;
  font-style: italic;
}

/* Desktop */
@media screen and (min-width: 640px) {
  .newEntryForm {
    width: clamp(250px, 80%, 700px);
    padding: 20px;
    margin: 50px auto;
  }

  .newEntryForm h1 {
    font-size: 2.5rem;
  }

  .entryLabel {
    font-size: 1.2rem;
  }

  .entryInput {
    width: clamp(230px, 80%, 650px);
  }

  .comments {
    width: clamp(230px, 80%, 650px);
  }

  .formBttn {
    font-size: 1.2rem;
  }
}
