/* Mobile-first */
.profileSection {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.username {
  font-size: 16px;
  color: var(--bluetext);
  font-weight: bold;
  margin: 0;
}

.profilePic, .username {
  cursor: pointer;
}

/* Desktop */
@media screen and (min-width: 640px) {
  .profilePic {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .username {
    font-size: 20px;
  }
}
