/* Mobile-first */
.profilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  width: 90%;
  max-width: 800px;
  margin: 30px auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.profileSettings {
  display: flex;
  flex-direction: column;
  width: 100%;
  place-self: start;
  place-items: start center;
}

.profileSettings h2 {
  font-family: var(--font-heading), serif;
}

.profileSectionLink {
  place-self: center;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inputSection {
  display: flex;
  flex-direction: column;
  place-self: center;
  justify-content: center;
  gap: 20px;
  max-width: 800px;
  width: 100%;
  padding: 20px 0;
}

.formControl {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.buttonSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  place-self: start center;
  justify-content: center;
  gap: 20px;
}

.actionButton {
  background-color: var(--sageGreen);
  border-color: var(--sageGreen);
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  height: 42px;
  padding: 8px 14px;
  text-align: center;
  vertical-align: middle;
  width: auto;
  min-width: 80px;
}

.actionButton:hover {
  background-color: #6f8f56;
}

.output {
  color: red;
  white-space: nowrap;
  height: 20px;
  display: block;
}

.hiddenFileInput {
  display: none;
}

.customUploadBtn {
  display: inline-block;
  width: auto;
  height: auto;
  background-color: var(--bluetext);
  border-radius: 10px;
  border: none;
  color: white;
  text-align: center;
  padding: 8px 14px;
  cursor: pointer;
}

/* Desktop */
@media screen and (min-width: 640px) {
  .profilePage {
    width: 60%;
    margin-top: 50px;
  }

  .inputSection {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 20px;
    padding: 40px;
  }

  .buttonSection {
    gap: 40px;
  }

  .actionButton {
    font-size: 18px;
    height: 46px;
    padding: 10px 16px;
    width: 100px;
  }
}
